body {
    height: calc(100vh - calc(100vh - 100%));
    width: 100vw;
    padding: 0; margin: 0; border: 0;
    position: absolute;
}
body * {
    box-sizing: border-box;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#canvasContainer {
    position: absolute;
    background-color: darkolivegreen;
    margin: 0 auto;
    height: calc(100vh - calc(100vh - 100%));
    width: calc(100vw - 400px);
    overflow: auto;
    padding: 0;
    text-align: center;
}
canvas {
    position: relative;
    background-color: transparent;
    margin: .3em auto;
    z-index: 10;
}

#formContainer {
    background-color: khaki;
    position: absolute;
    top: 0; right:0;
    height: calc(100vh - calc(100vh - 100%));
    width: 400px;
    padding: .3em;
    border-left: .15em solid navy;
}

table.form th {
    text-align: right;
    padding-right: .2em;
    color: navy;
    font-weight: normal;
}
table.form td {
    vertical-align: top;
}

.anchor {
    color: blue;
    cursor: pointer;
}
span.anchor:hover {
    color: green;
}
.popForm {
    background-color: gainsboro;
    padding: .5em;
    margin: .5em;
    border: 1px solid navy;
    border-radius: .4em;
}

table#tbl_done_codes,
table#tbl_link_codes {
    width: 320px;
    border-collapse: collapse;
    border-bottom: 1px solid navy;
    margin-bottom: .2em;
}
table#tbl_done_codes th,
table#tbl_link_codes th {
    color: navy;
    font-weight: normal;
    border-bottom: 1px solid navy;
    text-align: left;
}
table#tbl_done_codes td,
table#tbl_link_codes td {
    border: 1px dotted silver;
    vertical-align:top;
}
div.snapshot {
    position:absolute;
	bottom: 0;
	right: 330px;
	height: 50px;
	width: 50px;
    z-index: 20;
	background-image: url("camera.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
div.workDesignMode {
    position:absolute;
	bottom: 2px;
	right: 240px;
    width: 100px;
    height: 45px;
    z-index: 10;
    text-align: center;
    font-weight: bold;
}
div.scaleSlider {
    position:absolute;
	bottom: 10px;
	right: 70px;
    width: 180px;
    height: 45px;
    z-index: 10;
    text-align: center;
    font-size: 8pt important;
    color: brown;
}
.directionRosette {
    position:absolute;
	bottom: 10px;
	right: 10px;
	height: 50px;
	width: 50px;
	background-image: url("directionRosette.png");
	background-repeat: no-repeat;
	background-size: contain;
	border: 3px solid transparent;
    border-collapse: collapse;
    background-color: transparent;
	z-index: 10;
}
.directionRosette tbody tr td {
	padding: .1em;
	border: 0;
}
.directionRosette:hover {
    cursor: pointer;
    background-color: ghostwhite;
    box-shadow: 4px 4px 4px grey;
    bottom: 12px;
    right: 12px;
}

fieldset {   
    -moz-border-radius:.3em;  
    border-radius:.3em;  
    -webkit-border-radius:.3em;
    border: 1px solid gray;
} 
fieldset legend {
    color: navy;
}
p {
    margin-top: .3em;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
