body {
    height: 100vh;
    width: 100vw;
    padding: 0; margin: 0; border: 0;
    position: absolute;
}
body * {
    box-sizing: border-box;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#canvasContainer {
    position: absolute;
    background-color: darkolivegreen;
    margin: 0 auto;
    height: 100vh;
    width: calc(100vw - 400px);
    overflow: auto;
    padding: .3em;
    text-align: center;
}
canvas {
    position: relative;
    background-color: white;
    margin: .3em auto;
}

#formContainer {
    background-color: khaki;
    position: absolute;
    top: 0; right:0;
    height: 100vh;
    width: 400px;
    padding: .3em;
    border-left: .15em solid navy;
}

table.form th {
    text-align: right;
    padding-right: .2em;
    color: navy;
    font-weight: normal;
}
table.form td {
    vertical-align: top;
}

.anchor {
    color: blue;
    cursor: pointer;
}
span.anchor:hover {
    color: green;
}
.popForm {
    background-color: gainsboro;
    padding: .5em;
    margin: .5em;
    border: 1px solid navy;
    border-radius: .4em;
}

table#tbl_done_codes,
table#tbl_link_codes {
    width: 250px;
    border-collapse: collapse;
    border-bottom: 1px solid navy;
    margin-bottom: .2em;
}
table#tbl_done_codes th,
table#tbl_link_codes th {
    color: navy;
    font-weight: normal;
    border-bottom: 1px solid navy;
    text-align: left;
}
table#tbl_done_codes td,
table#tbl_link_codes td {
    border: 1px dotted silver;
    vertical-align:top;
}

.directionRosette {
	position:absolute;
	bottom: 50px;
	right: 50px;
	height: 60px;
	width: 60px;
	background-image: url("directionRosette.png");
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px dotted grey;
	border-collapse: collapse;
}
.directionRosette tbody tr td {
	padding: .1em;
	border: 5px solid transparent;
}
.directionRosette tbody tr td:hover {
	border: 5px solid pink;
}
